<h2>Your Shortened Link</h2>
<p>Shares: <%= @url.share_count %></p>
<p><a class="long" href="<%= @url.long %>" target="_blank"><%= @url.long %></a></p>
<p><a class="shortened" href="<%= @url.shortened %>" target="_blank">dil.pub/<%= @url.shortened %></a></p>
