<div class="container">
<nav></nav>
  <header><h1>A lightweight bitly clone</h1></header>

  <div class="form">
  <form action="/urls" method="post" id="shortener-form">
    <input type="text" placeholder="Paste in the link you want shortened" name="long" class="form-input">
    <input type="submit" value="Shorten" class="button white">
  </form>
  <% if @error %>
  <p class="error"><%= @error %></p>
  <% end %>
</div>
<section>



    <div id ="links">

    </div>

    <hr>
  <h2>Recent links</h2>
  <% @urls.each do |link| %>
    <div class="links">
      <p>Shares: <%= link.share_count %></p>
      <p><a class="long" href="<%= link.long %>" target="_blank"><%= link.long %></a></p>
      <p><a class="shortened" href="<%= link.shortened %>" target="_blank">dil.pub/<%= link.shortened %></a></p>
    </div>

  <% end %>

</section>
<footer><p><a href="http://ryanfsalerno.com" target="_blank">&copy; Ryan F. Salerno</a></p></footer>
</div>
